.contact-form {
    width: 50vw;
    height: max-content;
    background-color: rgba(188, 187, 187, 0.39);
    margin-left: 25vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
    margin-top: 3vw;
    border-radius: 1vw;
    padding: 0 0 5vw 0;
}

.contact-form h1 {
    padding: 1vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.668);
}

.contact-form form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(242, 179, 102, 0.504);
    border-radius: 1vw;
    width: 50%;
    height: max-content;
    padding: 2vw 0;
    margin-left: 12vw;
    box-shadow: 0px 0px 15px 2px rgba(250, 249, 249, 0.778);
}

.contact-form form input,
textarea {
    height: 1.5vw;
    width: 70%;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.767);
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-form form textarea {
    height: 100px;
}

.contact-form form button {
    border: none;
    background-color: rgba(40, 239, 40, 0.953);
    padding: 0.5vw 1vw;
    margin-top: 10px;
    border-radius: 0.5vw;
    font-weight: 530;
    font-size: medium;
}
.contact-form form button:hover{
    cursor: pointer;
    background-color: rgba(5, 164, 5, 0.833);
}

@media (max-width:1020px) {
    .contact-form form {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgba(242, 179, 102, 0.504);
        border-radius: 1vw;
        width: 70%;
        height: max-content;
        padding: 2vw 0;
        margin-left: 7vw;
        box-shadow: 0px 0px 15px 2px rgba(250, 249, 249, 0.778);
    }

    .contact-form form input,
    textarea {
        height: 2vw;
        width: 80%;
    }
    .contact-form h1{
        font-size: 3.5vw;
    }
    .contact-form{
        margin-top: 4vw;
        width: 60vw;
        margin-left: 22vw;
    }
    .contact-form form p, a{
        font-size: 0.8rem;
    }

}