.project-section {
    position: relative;
    left: 16%;
    width: 65vw;
    max-width: 1200px;
    height: auto;
    background-color: rgba(185, 181, 181, 0.597);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.362);
    border-radius: 1vw;
    padding: 1rem;
}

.project-section .head-text {
    text-align: center;
    padding: 1rem;
}

.project-section .head-text h1 {
    font-size: 30px;
    padding: 20px 0px 0px 0px;
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.668);
}

.project-section .project {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 0px 5vw;
}

.project .project-card {
    width: 40%;
    height: max-content;
    padding: 1rem 1rem 2rem 1rem;
    background-color: rgba(219, 155, 155, 0.423);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
    cursor: pointer;
    margin: 2vw 2vw 1.5vw 0vw;
    border-radius: 1vw;
}

.project .project-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.project-section .project-card .project-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-section .project-card .project-info .title {
    padding: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: larger;
}

.project-section .project-card .project-info .description {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: small;
    margin: 0.5rem 0px 1rem 0px;
}

.project-section .project-card .project-info a {
    text-decoration: none;
    background-color: rgba(28, 28, 29, 0.625);
    color: white;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
}

.project-section .project-card .project-info a:hover {
    background-color: rgb(40, 38, 38);
}

@media screen and (max-width:1020px) {
    .project .project-card {
        width: 400px;
    }
}