.skills {
    width: 55vw;
    height: max-content;
    background-color: rgba(169, 169, 169, 0.468);
    margin-left: 20vw;
    margin-bottom: 3.5vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.488);
    padding: 0 0 2rem 0;
}

.skills h1 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.668);
}

.skills .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3ms ease-in-out;
}

.skills .tech {
    width: 4rem;
}

.skills .tech img {
    width: 100%;
}

@media (max-width:1160px) {
    .skills {
        padding: 2rem;
    }
}